<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%17.17thread] [%-5level] %-36.36logger{36} [%-10.10X{externalId:-          }] [%12.12X{stage:-          }]: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.github.spector517.xtbot" level="${xtbot.logging.level:-ERROR}"/>

  <root level="error">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>